<!-- Slider main container -->
<div class="swiper-container" *ngIf="Slider">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide" *ngFor="let img of data.images;let i = index">
      <img [src]="envPath+img.url">
      <div class="strip">
        <button mat-flat-button color="basic" (click)="deletProductImage(img._id, i)">
           <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <!-- If we need pagination -->
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
<div class="file-upload" *ngIf="!Slider">
  <input type="file" style="display:none;" #file (change)="uploadImage($event)">
  <button mat-flat-button color="warn" style="margin:auto;" (click)="$event.stopPropagation(); file.click()">Upload
    Image
    <mat-icon>add_photo_alternate</mat-icon></button>
</div>
<div class="add-image-section" style="text-align: center;" *ngIf="Slider">
  <button mat-flat-button color="warn" style="margin:auto;" (click)="$event.stopPropagation(); Slider = false;">Add More
    Product Image
    <mat-icon>add_photo_alternate</mat-icon></button>
</div>