<mat-toolbar>
  <mat-toolbar-row>
    <span>Products</span>
    <span class="example-spacer"></span>
    <button mat-flat-button color="warn" (click)="openAddProductDialog()">
     Add Product <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">add</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="mrp">
      <th mat-header-cell *matHeaderCellDef>MRP</th>
      <td mat-cell *matCellDef="let element"> {{element.mrp}} </td>
    </ng-container>
    <ng-container matColumnDef="selling_price">
      <th mat-header-cell *matHeaderCellDef>Selling Price</th>
      <td mat-cell *matCellDef="let element"> {{element.selling_price}} </td>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element"> <button mat-icon-button>
          <mat-icon>pageview</mat-icon>
        </button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
</div>