.image-box{
    min-height: 160px;
    display: flex;
    max-height: 160px;
    img{
        margin:0px;
    }
}
.mat-card{
.mat-card-title{
    font-size: 20px;
    margin:0px;
  
}
.description{
    font-size: 12px;
    color: grey;
}
.discount{
    color:orangered;
}
}